body {
    background-color: rgb(59, 46, 95);
}
.navbar {
    background-color: rgb(63, 227, 230);
    display: flex;
    justify-content: center;
    height: 100px;
}
.navbar-brand {
    position: absolute;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: rgb(59, 46, 95)
}
.container {
    display: flex;
    justify-content: center;
}
.menu-btn {
    margin: 30px;
    color: purple;
    border-width: 5px;
    border-color: rgb(42, 28, 83);
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 300px;
    background-color: yellow;
}
#post-btn {
    margin: 10px;
    padding: 5px;
    color: yellow;
    background-color: rgb(59, 46, 95);
    border-width: 3px;
    font-weight: bold;
}
#post-btn-area {
    display: flex;
    justify-content: center;
}
.card {
    background-color: yellow;
    margin-top: 20px;
    width: 60%;
}
.form-label {
    margin: 5px;
    font-weight: bold;
    color: rgb(59, 46, 95);
}
.form-control {
    padding: 10px;
}
#title {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 46, 95);
    text-decoration: underline;
}
#subject-choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: center;
}
.subject-button {
    margin: 10px;
    color: yellow;
    border-width: 4px;
    border-color: rgb(42, 28, 83);
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 150px;
    background-color: rgb(59, 46, 95);
}
.flashcard {
    margin: 30px;
    color: yellow;
    border-width: 5px;
    border-color: rgb(42, 28, 83);
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 300px;
    background-color: rgb(59, 46, 95);
    /* transform: rotateY('180') */
}
.hide {
    display: none;
}